<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ========================= -->
    <!-- CONSOLE (IDE / LOCAL) -->
    <!-- ========================= -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread]
                %logger{36} [requestId=%X{requestId}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- LOGSTASH (ELK) -->
    <!-- ========================= -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--  THIS IS THE KEY LINE -->
            <includeMdc>true</includeMdc>

            <customFields>
                {"service":"kiranastore","env":"local"}
            </customFields>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- ROOT -->
    <!-- ========================= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
